[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "weibulltools"]
	path = weibulltools
	url = https://github.com/tim-tu/weibulltools
